<div class="container mt-5">
  <h1>Restaurants</h1>
  <p>This is all restaurants that we have for now!</p>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
    <% end %>
  </ul>

  <%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
</div>
